.about-container {
  display: flex;
  width: 80%;
  height: 70vh;
  justify-content: space-between;
  margin-top: 50px;
  box-shadow: 2px 2px 12px 2px rgba(128, 128, 128, 0.335);
  border-radius: 10px;
}
.about-container-image {
  width: 30%;
  height: 100%;
}
.prof-image {
  width: 100%;
  height: 100%;
  border-radius: 10px 0px 0px 10px;
  animation-name: expand;
  animation-duration: 1s;
}
.about-container-description {
  word-wrap: break-word;
  width: 50%;
  text-align: center;
  position: relative;
  right: 80px;
  top: 10px;
  font-size: 18px;
  -ms-font-size: 18px;
}

.about-title {
  font-size: 30px;
  color: rgb(238, 217, 0);
  -ms-font-size: 30px;
}

@keyframes expand {
  from {
    width: 0px;
  }
  to {
    width: 100%;
  }
}
