.sample-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
}
.animation-container {
  width: 30%;
  height: 400px;
  background-color: peru;
  background-image: url("../images/animation-sample.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: slidein;
  animation-duration: 1s;
}

.graphics-container {
  width: 30%;
  height: 400px;
  background-color: peru;
  background-image: url("../images/logo-sample.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: slidein;
  animation-duration: 1.5s;
}
.cartoones-container {
  width: 30%;
  height: 400px;
  background-color: peru;
  background-image: url("../images/cartoone-sample.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: slidein;
  animation-duration: 2s;
}

.sample-description {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 2px;
  border: none;
}
.sample-description h2 {
  color: white;
  font-weight: bolder;
  font-size: 30px;
  text-shadow: 2px 2px black;
}
.sample-description button {
  width: 150px;
  height: 30px;
  outline: none;
  border: none;
  color: white;
  background-color: rgb(153, 153, 9);
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  transition: ease-in-out 0.5s;
}
.sample-description button:hover {
  border: 2px solid rgb(153, 153, 9);
  color: white;
  background-color: transparent;
}
.other-projects-btn {
  margin-top: 80px;
  height: 50px;
  font-size: 25px;
  padding: 0 5px;
  outline: none;
  border: none;
  color: white;
  background-color: rgb(153, 153, 9);
  border-radius: 2px;
  font-family: firacode;
  transition: 0.7s;
}

.other-projects-btn:hover {
  box-shadow: 2px 2px 12px 2px rgba(128, 128, 128, 0.781);
}

@keyframes slidein {
  from {
    position: relative;
    top: -700px;
  }
  to {
    top: 0px;
  }
}
